<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--jsp-cocnfig>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
        </taglib>
    </jsp-cocnfig-->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <jsp-file>WEB-INF/views/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <jsp-file>WEB-INF/views/customer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <servlet-class>com.hxwr.lds.controller.RegisterCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <url-pattern>/customer/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Success</servlet-name>
        <servlet-class>com.hxwr.lds.controller.Success</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateLoanServlet</servlet-name>
        <servlet-class>com.hxwr.lds.controller.CreateLoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateLoanServlet</servlet-name>
        <url-pattern>/loan/create</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DisplayLoanServlet</servlet-name>
        <servlet-class>com.hxwr.lds.controller.DisplayLoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayLoanServlet</servlet-name>
        <url-pattern>/loan/display</url-pattern>
    </servlet-mapping>

    



    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.hxwr.lds.controller.LogoutCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/customer/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HibernateServlet</servlet-name>
        <servlet-class>com.hxwr.lds.servlets.HibernateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HibernateServlet</servlet-name>
        <url-pattern>/HibernateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <servlet-class>com.hxwr.lds.controller.LoginCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <url-pattern>/customer/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoanTableServlet</servlet-name>
        <jsp-file>WEB-INF/views/displayloan.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoanTableServlet</servlet-name>
        <url-pattern>/LDS/displayloan</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/*-context.xml
        </param-value>
    </context-param>


</web-app>
